:host /deep/ .node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
  }
  
  :host /deep/ .node text { 
      font: 12px sans-serif;
      word-break: break-all;
    }
  
  :host /deep/ .node--internal text {
    text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
  }
  
  :host /deep/ .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
  }